body .login-container {
    background: white;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}